/packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
variables.json
*.tfstate
terraform\authorized_key.json
authorized_key.json
key.json
.terraform.lock.hcl
*.retry
jdauphant.nginx
vault.key
