token = "y0_AgAAAAARN-i3443232321dsfdsfdsffew_sjdskjd121ekh"
cloud_id = "2sdsd213"
folder_id = "asdasdadsw12"
zone = "ru-central1-a"
image_id = "123123dasdad"
subnet_id = "12dasdasdasd"
public_key_path = "/home/user/.ssh/appuser.pub"
privat_key_path = "/home/user/.ssh/appuser"
app_disk_image = "12wqdsadad"
db_disk_image = "23adsadasdds"
access_key = "21123sadadsad"
secret_key = "121dsasadsa9"
