token = "1"
cloud_id = "2"
folder_id = "3"
zone = "ru-central1-a"
image_id = "4"
subnet_id = "5"
public_key_path = "/home/user/.ssh/appuser.pub"
privat_key_path = "/home/user/.ssh/appuser"
app_disk_image = "6"
db_disk_image = "7"
access_key = "8"
secret_key = "9"
